@font-face {
    font-family: AlfaSlabOne;
    src: url('../fonts/AlfaSlabOne-Regular.ttf');
}

#Formulario{
	border: 2px solid red;
	background-color:white;
	width: 400px;
	display:block;
	margin-left: 1000px;
}

#Formulario > label{
	font-size: 20px;
}

label{
	text-align:center;
	display:block;
	font-weight: bold;
	font-family: AlfaSlabOne;
}

input,select,button{
	display:block;
	margin:auto;
}

body{
	background-image:url('../img/fundo.jpg');
	background-size: cover;
	overflow: hidden;
}

#loginbtn{
	margin-left:1090px;
}

#cadastrobtn{
	margin-left: 1100px;
}

#logo{
	display:block;
	margin:auto;
}