@font-face {
    font-family: AlfaSlabOne;
    src: url('../fonts/AlfaSlabOne-Regular.ttf');
}

#Formulario > label{
	font-size: 20px;
}

.navbar-fixed {
   z-index: 999; 
}

.nav{
	background-color: #00adef !important;
}

html,
body,
.login-box {
  height: 100%;
}

label{
	text-align:center;
	display:block;
	font-weight: bold;
}

input,select,button{
	display:block;
	margin:auto;
}

body{
	background-image:url('../img/fundo.jpg');
	background-size: cover;
	overflow: hidden;
}

#loginbtn{
	margin-left:1090px;
}

#cadastrobtn{
	margin-left: 1100px;
}

#logo{
	display:block;
	margin:auto;
}